.ourClasses {
  padding: 20px;
}

.ourClasses-wide-screen {
  padding: 20px 100px;
}

.gallery {
  height: 353px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery-ul {
  width: 2800px;
  white-space: nowrap;
}
