.ourClasses {
  padding: 20px;
}

.ourClasses-wide-screen {
  padding: 20px 100px;
}

.gallery {
  margin-block: 30px;
  height: 353px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery-ul {
  width: 2700px;
  white-space: nowrap;
  padding-left: 0;
}

@media screen and (min-width: 1060px) {
  .ourClasses-header {
    width: 60%;
  }
}
