.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--gray-20); */
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 50;
  padding-inline: 30px;
}

.desk-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.text-active {
  color: var(--primary-500);
  background-color: blue;
}

.mobile-menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: gray;
  background-color: var(--secondary-500);
  cursor: pointer;
}

.menu-modal {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 40;
  background-color: var(--primary-100);
  height: 100%;
  width: 60%;
  padding: 30px;
}

.but-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-menu-btn {
  background-color: transparent;
  border: none;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.mob-menu-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.nav-not-top {
  background-color: var(--primary-100);
}

.padding-wide-screen {
  padding-inline: 100px;
}
