@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&display=swap");
* {
  box-sizing: border-box;
}

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--gray-500);
  background-color: var(--gray-20);
}

img {
  max-width: 100%;
}

:root {
  /* colors */
  --main-bg-color: #000080;
  --main-text-color: #fff;
  --gray-20: #f8f4eb;
  --gray-50: #efe6e6;
  --gray-100: #dfcccc;
  --gray-500: #5e0000;
  --primary-100: #ffe1e0;
  --primary-300: #ffa6a3;
  --primary-500: #ff6b66;
  --secondary-400: #ffcd5b;
  --secondary-500: #ffc132;
}

.app {
  background-color: var(--gray-20);
}

.link {
  text-decoration: none;
  color: var(--gray-500);
}

.link:hover {
  color: var(--primary-300);
  transition: 500ms;
  cursor: pointer;
}
