.benefits {
  padding: 20px;
}

.benefits-wide-screen {
  padding: 20px 100px;
}

.benefits-grid {
  margin-top: 30px;
  display: grid;
  gap: 10px;
}

@media screen and (min-width: 1060px) {
  .benefits-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .benefits-desc {
    width: 60%;
  }
}
